@import "_chartist-settings";
@import "../../bower_components/chartist/dist/scss/chartist";

.caniuse-report {
  .ct-chart {
    position: relative;
    height: 300px;

    .chartist-tooltip {
      position: absolute;
      background: #009688;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
      border-radius: 2px;
      color: #fff;
      padding: 5px 10px;
      font-weight: normal;

      &:before {
        border-top-color: #009688;
      }
    }

    .ct-chart-pie .ct-label {
      fill: #fff;
      font-size: 1.25rem;
    }
  }

  .cl-support {
    width: 10px;
    height: 10px;
    display: inline-block;

    &.cl-support-no {
      background-color: nth($ct-series-colors, 1);
    }
    &.cl-support-partial {
      background-color: nth($ct-series-colors, 2);
    }
    &.cl-support-full {
      background-color: nth($ct-series-colors, 3);
    }
  }
}
