@import "_chartist-settings";
@import "../../bower_components/chartist/dist/scss/chartist";

// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Overrides */
[class^="mdi-"], [class*="mdi-"] {
  margin-top: -5px;
  transform: translate(0, 5px);
}

.btn-wrap {
  white-space: normal;
  word-wrap: break-word;
  word-break: normal;
}

.panel-primary > .panel-heading a {
  color: inherit;
}

.top-space {
  margin-top: 10px;
}

.navbar {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .navbar-toggle {
    margin-top: 5px;
    color: #000;
  }

  .navbar-brand {
    margin-top: 3px;
  }
}

/* Site */
@media screen and (max-width: 768px) {
  .page-feature {
    #features-list-target {
      margin-top: 50px;
    }
  }
}

#features-list-target {
  :nth-child(3n+1) {
    clear: both;
  }
}

.features-list {
  text-align: center;
  list-style-type: none;

  .btn {
    margin: 3px 0;
  }
}

.feature-box {
  .mdi-navigation-close {
    margin-top: -8px;
  }
}

.caniuse-report .ct-chart {
  position: relative;
  height: 300px;

  .chartist-tooltip {
    position: absolute;
    background: #009688;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    color: #fff;
    padding: 5px 10px;
  }

  .ct-chart-pie .ct-label {
    fill: #fff;
    font-size: 1.25rem;
  }
}

/* transitions */
@mixin slidable() {
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.show-on-feature-page {
  @include slidable();
  min-height: 0;
  max-height: 0;

  .page-feature & {
    max-height: 5000px;
  }
}

@mixin hide-on-feature-page() {
  @include slidable();
  max-height: 5000px;

  .page-feature & {
    min-height: 0;
    max-height: 0;
    padding: 0;
  }
}

.hide-on-feature-page {
  @include hide-on-feature-page();
}

@media screen and (max-width: 768px) {
  .hide-on-feature-page-sm {
    @include hide-on-feature-page();
  }
}
