body {
  margin: 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #000;

  --primary-color: #104A70;
  --primary-dark-color: #0C3652;
  --inverse-color: #92ACBE;
}

body, dt, dd {
  /*line-height: 1.5;*/
}

main, aside {
  position: relative;
  padding: 2em;
  box-sizing: border-box;
}

.page {
  margin: 0 auto;
  max-width: 85em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}

a:not(.button) {
  color: var(--primary-color);
  text-decoration: none;
}
a:not(.button):hover {
  text-decoration: underline;
}

p {
  margin: 0 0 .5em;
}

figure {
  margin: 0;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.button {
  padding: .5em 3em;
  background: var(--primary-color);
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  transition: background-color ease .2s;
}
.button:hover {
  background: var(--primary-dark-color);
}
