body {
  margin: 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #000;

  --theme-color: #A81039;
  --light-theme-color: #D75637;
}

body, dt, dd {
  /*line-height: 1.5;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}

a {
  color: var(--light-theme-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
